.heading {

}

.dayViewContainer {
    width: 33%;
}

.dayView {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.day {
    height: 100px;
    width: 95%;
    border-radius: 10px;
    padding: 10px 5px 5px 5px;
}

.rotationSelector {

}

.rotationSelectorContainer {

}

.notification {
    height: 90px;
    width: 100%;
    border-radius: 10px;
}

.notificationContainer {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.buttonContainer {

}

.button {

}

.title {
    width: 90%;
    height: 30px;
    border-radius: 25px;
}

.description {
    margin-top: 20px;
    width: 100%;
    height: 15px;
    border-radius: 25px;
}

.description2 {
    margin-top: 10px;
    width: 70%;
    height: 15px;
    border-radius: 25px;
}